.panel li, div p {
    padding: 0.1ex;
}

ol {
    padding-left: 0px;
    -webkit-padding-start: 0px;
}

.button-list {
    padding: 1ex 1ex 1ex 3ex;
    text-align: left;
    width: 100%;
}

code {
    color: #40ffff;
    background-color: #969394;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .panel img {
        max-width: 85%;
    }
}

.heading {
    color: white;
    background-color: #4c789e;
}

.heading h1{
    font-size: 1.2em;
    text-shadow: 3px 2px black;
}

.heading p{
    font-size: 1.0em;
}